---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
const tags = frontmatter.tags;
---

<style lang="scss">
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;

    &:hover {
      background-color: #e8f4f7;
    }
  }
</style>

<BaseLayout pageTitle={frontmatter.title}>
  <p>Published on: {frontmatter.pubDate}</p>
  <p>Written by {frontmatter.author}</p>
  <img width="300" src={frontmatter.image.url} alt={frontmatter.image.alt} />

  <div class="tags">
    {
      tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <slot />
</BaseLayout>
